{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
    <div class="container cont">
        <div class="row">
            <div class="col-md-5">
                <div class="project-info-box mt-0">
                    <h1 class="title">{{ event.name }}</h1>
                  <fieldset class="fieldset"><p class="mb-0">{{ event.description }}</p></fieldset>
                </div>

                <div class="project-info-box">
                    <p><strong>Organizer :</strong><a
                                href="{{ path('app_user_list', {'id': event.organizer.id}) }}">{{ event.organizer.name }} {{ event.organizer.firstname }}</a>
                    </p>
                    <p><strong>Participants :</strong>
                    <ul>
                        {% for participant in event.participants %}
                            <li class="text-white">{{ participant.name }}  {{ participant.firstname }}</li>
                        {% endfor %}
                    </ul>
                    <p><strong>Date limitation inscription : </strong>{{ event.dateLimitationInscription|date('D d/m/Y H:i') }}</p>
                    <p><strong>Number inscription max : </strong>Available
                        places: {{ event.nbInscriptionMax - event.participants.count() }}</p>
                    {% if event.state == 'OPEN' %}
                        <p class="text-success"><strong>State : </strong>{{ event.state }}</p>
                    {% else %}
                        <p class="text-danger"><strong>State : </strong>{{ event.state }}</p>
                    {% endif %}
                    <p><strong>Motif cancel : </strong>{{ event.cancelReason }}</p>
                </div>
                <div class="project-info-box mt-0 mb-0">

                </div>
            </div>
            <div class="col-md-7">
                <img src="https://picsum.photos/400/300" alt="project-image" class="rounded">
                <div class="project-info-box">
                    <p><strong>Name location :</strong> {{ event.location.name }}</p>
                    <p><strong>Street :</strong> {{ event.location.street }}</p>
                    <p><strong>City :</strong> {{ event.location.city }}</p>
                    <p><strong>Postcode :</strong> {{ event.location.postcode }}</p>
                </div>
                {% if event.organizer.id == user.id or is_granted('ROLE_ADMIN') %}
                    {% if event.state == 'OPEN' and event.firstAirDate > "now" %}
                        <form method="post" action="{{ path('cancel_event', {'id': event.id}) }}">
                            <input type="text" name="motif" placeholder="Motif d'annulation">
                            <button type="submit" class="btn btn-danger">Annuler l'événement</button>
                        </form>
                    {% endif %}
                {% endif %}
    {% if not is_granted('ROLE_USER') %}
        <p>You must be logged in to participate in this event.</p>
        <a href="{{ path('app_login') }}">Login</a>
    {% else %}

        {% if event.state == 'OPEN' and not event.user.contains(app.user) and event.getParticipants().count() < event.getNbInscriptionMax() %}
            <a href="{{ path('register_event', {'id': event.id}) }}" class="btn btn-light">Participate</a>
        {% endif %}
        {% if event.user.contains(app.user) %}
                <a href="{{ path('unregister_event', {'id': event.id}) }}" class="btn btn-light">Unregister</a>
        {% endif %}
{#            {% if event.state != 'OPEN' %}#}
{#                <p>Event is not open for registration.</p>#}
{#            {% elseif event.getParticipants().count() >= event.getNbInscriptionMax() %}#}
{#                <p>Registration limit reached for this event.</p>#}
{#            {% else %}#}
{#                <p>You are already registered for this event.</p>#}
{#            {% endif %}#}

    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
