{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}

{#TODO ajouter les filtres#}

        <table class="table">
                <thead>
                <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Date limit Inscription</th>
                        <th scope="col">Number inscription max</th>
                        <th scope="col">State</th>
                        <th scope="col">Location name</th>
                </tr>
                </thead>
                <tbody>
                {% for row in event %}
                        <tr>
                                <td><a href="{{ path('detail_event', {'id': row.id}) }}">{{ row.name }}</a></td>
                                <td>{{ row.duration }} jours</td>
                                <td>{{ row.dateLimitationInscription | date("m/d/Y") }}</td>
                                <td>{{ row.nbInscriptionMax - row.participants.count }} / {{ row.nbInscriptionMax }}</td>
                                <td>{{ row.state }}</td>
                                <td>{{ row.location.name }}</td>
                        </tr>
                {% endfor %}
                </tbody>
        </table>

{% endblock %}
