{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
    <body>
    <h1>Event List</h1>
    <div class="container">

        <div class="menu1">
            <form action="{{ path('list_event_filter_name_date') }}" method="get">
                <div class="form-group">
                    <label for="name">Nom</label>
                    <input id="name" class="form-control" type="text" name="searchQuery" placeholder="Entrez le nom de l'événement (optionnel)">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input id="location" class="form-control" type="text" name="location" placeholder="Entrez le nom de l'événement (optionnel)">
                </div>
                <div class="form-group">
                    <label for="startDate">Date de début</label>
                    <input id="startDate" class="form-control" type="date" name="startDate" placeholder="JJ-MM-AAAA">
                </div>
                <div class="form-group">
                    <label for="endDate">Date de fin</label>
                    <input id="endDate" class="form-control" type="date" name="endDate" placeholder="JJ-MM-AAAA">
                </div>
                <button class="btn btn-primary" type="submit">Rechercher</button>
            </form>
        </div>

        <div class="menu2">
            <form action="{{ path('list_event_filter') }}" method="get">
                <div class="form-group">
                    <label for="participation">Filter by participation :</label>
                    <br>
                    <label for="organizing">I organize</label>
                    <input class="form-check" type="radio" name="participation" id="organizing" value="organizing"
                           {% if event == 'isOrganizing' %}checked="checked"{% endif %}>
                    <br>
                    <label for="participating">I participate</label>
                    <input class="form-check" type="radio" name="participation" id="participating"
                           value="participating"
                           {% if event == 'isParticipating' %}checked="checked"{% endif %}>
                    <br>
                    <label for="none">No filter</label>
                    <input class="form-check" type="radio" name="participation" id="none" value="none"
                           {% if event is null %}checked="checked"{% endif %}>

                    <br>
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>

        </div>

        <div class="list">
            <div class="elementsList">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Event date</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Date limit Inscription</th>
                        <th scope="col">Number inscription max</th>
                        <th scope="col">State</th>
                        <th scope="col">Location name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in event %}
                        <tr>
                            <td><a href="{{ path('detail_event', {'id': row.id}) }}">{{ row.name }}</a></td>
                            <td>{{ row.firstAirDate | date("d/m/Y") }}</td>
                            <td>{{ row.duration }} jours</td>
                            <td>{{ row.dateLimitationInscription | date("d/m/Y") }}</td>
                            <td>{{ row.nbInscriptionMax - row.participants.count }} / {{ row.nbInscriptionMax }}</td>
                            <td>{{ row.state }}</td>
                            <td>{{ row.location.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </body>
{% endblock %}