<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}"><img class="logo" src="{{ asset('/img/' ~ 'logo.png') }}"
                                                                   alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="{{ path('app_home') }}">Accueil</a></li>
                <li class="nav-item active"><a class="nav-link" href="{{ path('app_register') }}">Registration</a></li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item active"><a class="nav-link" href="{{ path('list_event') }}">List event</a></li>
                    <li class="nav-item active d-none d-md-block"><a class="nav-link" href="{{ path('create_event') }}">Create
                            event</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item active"><a class="nav-link" href="{{ path('app_user_list') }}">List users</a></li>
                <li class="nav-item active"><a class="nav-link" href="{{ path('app_csv') }}">Upload csv</a></li>
                    <li class="nav-item active"><a class="nav-link" href="{{ path('app_admin_create') }}">Create user for admin</a></li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item active"><a class="nav-link" href="{{ path('app_logout') }}">Logout</a></li>
                {% if app.user %}
                        <li class="nav-item active"><a class="nav-link" href="{{ path('app_profile',{'id': app.user.id}) }}">Profile</a></li>
                    {% endif %}
                {% else %}
                    <li class="nav-item active"><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
</body>
</html>