<ul>
    {% for address in addresses %}
        <li>
            <button type="button" class="js-set-address"
                    data-street="{{ address.street }}"
                    data-zipcode="{{ address.zipcode }}"
                    data-city="{{ address.city }}"
                    data-latitude="{{ address.latitude }}"
                    data-longitude="{{ address.longitude }}">{{ address.street }}, {{ address.zipcode }} {{ address.city }}</button>
        </li>
    {% endfor %}
</ul>