<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('/img/' ~ 'logo.png') }}" type="image/x-icon">
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="logo" src="{{ asset('/img/' ~ 'logo.png') }}" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item active"><a class="nav-link" href="{{ path('app_home') }}">Accueil</a></li>
                    <li class="nav-item active"><a class="nav-link" href="{{ path('list_event') }}">List event</a></li>
                    <li class="nav-item active"><a class="nav-link" href="{{ path('create_event') }}">Create event</a></li>
                    <li class="nav-item active"><a class="nav-link" href="{{ path('app_register') }}">Registration</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item active"><a class="nav-link" href="{{ path('app_user_list') }}">List users</a></li>
                    <li class="nav-item active"><a class="nav-link" href="{{ path('app_csv') }}">Upload csv</a>
                <li class="nav-item active"><a class="nav-link" href="{{ path('app_admin_create') }}">Create user</a>
               {% endif %}
                </li> {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item active"><a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    </li>                    {% if app.user %}
                        <li class="nav-item active"><a class="nav-link"
                                                       href="{{ path('app_profile',{'id': app.user.id}) }}">Profile</a>
                        </li>                    {% endif %}                {% else %}
                    <li class="nav-item active"><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{# {% if is_granted('ROLE_ADMIN') %} #}{#    <nav class="navbar"> #}{#        <ul class="navbar-nav nav-item"><h2>Admin</h2> #}{#            <li><a href="{{ path('app_admin_list') }}">List Users</a></li> #}{#        </ul> #}{#    </nav> #}{# {% endif %} #}{% for label, messages in app.flashes %}    {% for message in messages %}
    <div class="color alert alert--{{ label }}"> {{ message }} </div>
{% endfor %}
{% endfor %}
{% block body %}
{% endblock %}
{% block footer %}
    <div class="b-example-divider"></div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top bg-body-tertiary">
        <div class="col-md-4 d-flex align-items-center"><a href="{{ path('app_home') }}"
                                                           class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <img class="logo" src="{{ asset('/img/' ~ 'logo.png') }}" alt=""></a>
            <span class="text-muted">© 2024 Company, Inc</span>
        </div>
    </footer>
{% endblock %}
</body>
</html>