{% extends 'base.html.twig' %}{% block title %}Profil{% endblock %}{% block body %}    <h1 class="title">Profil</h1>
    <div class="container profil">
        <div class="row">
            <div class="col-md-5">
                <div class="project-info-box mt-0">
                    <fieldset class="fieldset"><p class="mb-0">{{ user.firstname }}</p></fieldset>
                </div>
                <div class="project-info-box">
                    <p><b>Name : </b>{{ user.name }}</p>
                    <p><b>Email : </b>{{ user.email }}</p>
                    {% if user.phoneNumber %}
                        <li><strong>Numéro de téléphone : </strong>{{ user.phoneNumber }}</li>
                    {% endif %}
                    {% if user.state == true %}
                        <li class="mb-0">State : Actif</li>
                    {% else %}
                        <li class="mb-0">State : Inactif</li>
                    {% endif %}
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_update', {'id': user.id}) }}" class="btn btn-primary">Update</a>
                    <a href="{{ path('app_admin_delete', {'id': user.id}) }}" class="btn btn-danger">Delete</a>
                    {% if user.state == true %}
                        <a href="{{ path('app_admin_disable', {'id': user.id}) }}" class="btn btn-warning">Disable</a>
                    {% else %}
                        <a href="{{ path('app_admin_disable', {'id': user.id}) }}" class="btn btn-success">Enable</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-7">
                {% if user.photo %}
                    <img class="imgprofil" src="{{ asset('/uploads/brochures/' ~ user.photo) }}">
                {% endif %}
            </div>
        </div>
    </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}
        </div>
    {% endfor %}
    </ul>
{% endblock %}