{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Profil</h1>
    <a href="{{ path('app_update', {'id': user.id}) }}" class="btn btn-primary">Update</a>
    <ul>
        <li><strong>ID : </strong>{{ user.id }}</li>
        <li><strong>Nom : </strong>{{ user.name }}</li>
        <li><strong>Prénom : </strong>{{ user.firstName }}</li>
        <li><strong>Adresse mail : </strong>{{ user.email }}</li>
        {% if user.phoneNumber %}
            <li>{{ user.phoneNumber }}</li>
        {% endif %}
        {% if user.photo %}
            <img src="{{ asset('/uploads/brochures/' ~ user.photo) }}">
        {% endif %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </ul>

{% endblock %}